@model JokeJukebox.App.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joke Jukebox</h1>
    @using (Html.BeginForm("SaveUserDetails", "Home", FormMethod.Post))
    {
        <h3>Please enter your details:</h3>
        @Html.LabelFor(m => m.AuthorFirstName)
        @Html.TextBoxFor(m => m.AuthorFirstName)
    }
</div>
