@model JokeJukebox.App.Models.JokesViewModel

@{
        ViewData["Title"] = "Jokes";
}

<link rel="stylesheet" href="JokeJukebox.App.Styles.css"/>

<div class="text-center">
    <h1 class="display-4 margin-bottom-l">Welcome, @Model.SignedInUserName</h1>

    @Html.BeginForm("ShowRandomJoke", "Jokes", HttpMethod.Post){

    }



